.body, .body__header {
  margin: 0;
  padding: 0;
}

.button {
  background-color: rgb(86, 123, 149);
  color: white;
  cursor: pointer;
  height: 3.2rem;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 11px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 700;
  height: 32px;
  letter-spacing: 0.55px;
  line-height: 11px;
  letter-spacing: 0.55px;
  border-radius: 3PX;
  border: 1px solid rgb(50, 104, 145);
  padding: 11px 12px 8px;
  text-transform: uppercase;
  height: 32px;
}

.header {
  height: 42px;
}

.header__button {
  position: absolute;
  left: 82.8%;
  top: 4px;
}

.header__button2 {
  position: absolute;
  left: 92.5%;
  top: 4PX;
}

.header__menuButton {
  margin: 4px 10px;
  width: 34px;
  height: 32px;
}

.header__searchButton {
  position: absolute;
  top: 12px;
  left: 60.5px;
}

.header__text {
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 14.25px;
  color: black;
  font-stretch: 100%;
  text-transform: uppercase;
  font-weight: 700;
  height: auto;
  letter-spacing: 0.7px;
  line-height: 19px;
  position: absolute;
  top: 11px;
  left: 104px;
  text-decoration: none;
  letter-spacing: 0.7px;
}

.header__nytLogo {
  position: relative;
  display: inline-block;
  left: 37.5%;
  top: 10px;
}

.menuButton {
  background-color: transparent;
  border: 0;
  padding: 0;
}

.menuButton__menuIconSvg {
  display: inline-block;
  height: 16px;
  vertical-align: sub;
  width: 16px;
}

.nytLogo {
  width: 195px;
  height: 26px;
}

.searchButton {
  width: 16px;
  height: 16px;
  background-color: transparent;
  border: 0;
  padding: 0;
}

.searchButton__icon {
  width: 16px;
  height: 16px;
}
