p a {
  text-decoration: none;
  color: rgb(50, 104, 145);
}

a {
  text-decoration: none;
  color: black;
}

header+time {
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 13px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 500;
  height: 16px;
  line-height: 16px;
}

button {
  border: none;
  background-color: transparent;
}

img {
  width: 1.3rem;
}

html {
  font-size: 62.5%;
  margin-bottom: 500px;
}

body {
  font-family: 'Libre Franklin', Helvetica, sans-serif;
}

main {
  margin: auto;
}

main>h1 {
  color: rgb(18, 18, 18);
  font-family: nyt-cheltenham, georgia, 'times new roman', times, serif;
  font-weight: 700;
  font-style: italic;
  max-width: 600px;
  font-size: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  font-stretch: 100%;
  line-height: 48px;
}

svg {
  width: min-content;
  /* height: min-content; */
}

h3 {
  font-family: nyt-imperial, georgia, "times new roman", times, serif;
  font-size: 20px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 700;
}

section img {
  width: 100%;
}

li {
  list-style: none;
}
